@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    color: rgb(109, 109, 187);
}

body{
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: "Montserrat", sans-serif;
    background: rgb(205,240,255);
    background: linear-gradient(158deg, rgba(205,240,255,1) 0%, rgba(145,167,255,1) 47%, rgba(65,82,255,1) 100%); 
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
}

h1{
    margin: 5px;
}

img{
    display: flex;
    height: 170px;
}

.description{
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(123, 155, 210);
    width: 20%;
    display: flex;
    justify-content: center;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.body-item{
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.city {
    transition: 0.3s;
}

.city:hover {
    transition: 0.3s;
    cursor: pointer;
    text-decoration: underline;
}

.settings {
    position: absolute;
    transition: 0.5s;
    display: none;
    background-color: rgb(210, 234, 255);
    /* padding: 20px;
    padding-top: 0; */
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-flow: column;
    justify-content: center;
    width: 50%;
}

.settings-header{
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
    background-color: rgb(232, 247, 255);
}

.settings-item{
    display: flex;
    /* justify-content: space-between; */
    margin: 10px;
}

.settings-sector{
    display: flex;
    flex-flow: column;
    width: 50%;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
}

.settings-body{
    display: flex;
    justify-content: space-between;
}

.settings-sector-contorll{
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
    cursor: pointer;
}

button {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 128, 255, 0.241);
    padding-left: 10px;
    padding-right: 10px;
    /* height: 20px; */
    min-width: 70px;
    max-height: 50px;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.selector{
    height: 24px;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 128, 255, 0.241);
    padding-left: 10px;
    padding-right: 10px;
    /* height: 20px; */
    min-width: 70px;
    max-height: 50px;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.input-text{
    font-family: "Montserrat", sans-serif;
    height: 30px;
    border-radius: 7px;
    padding: 3px;
    font-size: 15px;
    border: 2px solid black;
    margin: 10px;
}

.closeButton{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 10px;
    margin: 0;
}